<div>
  <div class="menu" [routerLink]="'add-alarm'">
    <mat-icon>alarm_add</mat-icon>
    Add alarm
  </div>
  <ul *ngIf="(alarms$ | async) as alarms" class="alarm-list">
    <li *ngFor="let alarm of alarms; index as idx" [class.active]="alarm.active">
      <div (click)="toggleActive(alarm)">
        <mat-icon class="alarm-icon">{{alarm.active ? 'alarm_on' : 'alarm_off'}}</mat-icon>
      </div>
      <div>
        {{formatTimeString(alarm.hour, alarm.minute)}}
        <ul class="day-list">
          <li *ngFor="let day of alarm.days">
            {{day.name}}
          </li>
        </ul>
      </div>
      <div (click)="showActionsForRow(idx)">
        <mat-icon class="actions-icon">more_vert</mat-icon>
      </div>
      <div *ngIf="expandedActionsIndex == idx" class="actions">
        <div (click)="deleteAlarm(alarm)">
          <mat-icon class="delete">delete</mat-icon>
        </div>
      </div>
    </li>
  </ul>
</div>
