<div>
  <ul *ngIf="(alarms$ | async) as alarms" class="alarm-list">
    <li *ngFor="let alarm of alarms; index as idx" [class.active]="alarm.active">
      <div (click)="toggleActive(alarm)">
        <mat-icon class="alarm-icon">alarm</mat-icon>
      </div>
      <div>
        {{formatTimeString(alarm.hour, alarm.minute)}}
        <ul class="day-list">
          <li *ngFor="let day of alarm.days">
            {{day.name}}
          </li>
        </ul>
      </div>
      <div>
        <mat-icon class="actions-icon">more_vert</mat-icon>
      </div>
    </li>
  </ul>
</div>
